<app-loader *ngIf="loadingReport"></app-loader>

<div *ngIf="!loadingReport">
  <div class="mt-2 mb-4">
    <h3 class="text-center text-muted">SALES REPORT <small>{{today}}</small></h3>
  </div>
  
  <div> 
   
    <div class="row mb-4">
        <div class="form-group mr-2">
            <label class="form-label">Select a customer</label>
            <ng-select
                [items]="customers"
                bindLabel="fullName"
                [(ngModel)]="selectedCustomer"
            >                    
            </ng-select>
        </div>
        <div class="form-group mr-2">
            <label class="form-label">Start date</label>
            <input type="date"
            [(ngModel)]="startDate"
            class="form-control w-auto"
            >
        </div>
        <div class="form-group mr-2">
            <label class="form-label">End date</label>
            <input type="date"
            [(ngModel)]="endDate"
            class="form-control w-auto"
            >
        </div>
        <div clas="col-lg-3 col-sm-3 col-md-4" style="position: relative; top:29px">
          <button class="btn btn-success mr-2" (click)=" filterSales()"><i class="fa fa-filter"> Filter</i></button>
          <button class="btn btn-success mr-2" (click)="refresh()"><i class="fa fa-refresh"> Reset</i></button>
          <a target="_blank" class="btn btn-primary mr-1 pull-right" style="color:white" (click)="test()">
              <i class="fa fa-print"></i>; Print
          </a>
        </div>
      </div>
  <div class="table-responsive mt-2" id="toprint" style="padding-bottom:70px">
      <img *ngIf="loading" src="assets/img/loader.gif" style="width:30%;margin-left:30%;">
    <table  *ngIf="!loading" class="table table-striped card-table" id="tableRecord">
      <thead>
            <th>S/N <i class="ion text-muted ml-2"></i></th>
            <th>Date <i class="ion text-muted ml-2"></i></th>
            <th>Items <i class="ion text-muted ml-2"></i></th>
            <th>Customer <i class="ion text-muted ml-2"></i></th>
            <th>Amount <i class="ion text-muted ml-2"></i></th>
            <th>Invoice No. <i class="ion text-muted ml-2"></i></th>
            <th></th>
       </thead>
      <tbody>
        <tr *ngFor="let sale of sales; index as i" >
          <td>{{i+1}}</td>
          <td>{{ sale.dateCreated.split('T')[0] }}</td>
          <td style="display:inline-flex">Items
            <div class="contacts-dropdown side-ellipsis dropdown-div" ngbDropdown [placement]="!isRTL ? 'bottom-right' : 'bottom-left'">
              <div ngbDropdownToggle style="width:7px" class="cursor-pointer"> 
                  <button class="btn btn btn-sm btn-default icon-btn borderless btn-round md-btn-flat hide-arrow">
                  <span class="fa fa-ellipsis-v"></span>
                  </button>   
              </div>
              <div ngbDropdownMenu [class.dropdown-menu-right]="!isRTL">
                  <a class="dropdown-item" *ngFor="let item of sale.cart.items">{{item.name}}<b>({{item.quantity}})</b></a>
              </div>
            </div>         
          </td>
          <td>{{getCustomerName(sale.customerID)}}</td>
          <td><span>&#8358;</span>{{sale.cart.amount | number}}</td>
          <td>{{sale.invoice.invoiceNo}}</td>
          <td style="display:inline-flex">Actions
            <div class="contacts-dropdown side-ellipsis dropdown-div" ngbDropdown [placement]="!isRTL ? 'bottom-right' : 'bottom-left'">
              <div ngbDropdownToggle style="width:7px" class="cursor-pointer"> 
                  <button class="btn btn btn-sm btn-default icon-btn borderless btn-round md-btn-flat hide-arrow">
                  <span class="fa fa-ellipsis-v"></span>
                  </button>   
              </div>
              <div ngbDropdownMenu [class.dropdown-menu-right]="!isRTL">
                  <a class="dropdown-item cursor-pointer" (click)="openInvoice(sale.customerID,sale.invoice.invoiceNo)">View Invoice</a>
                  <a class="dropdown-item cursor-pointer" (click)="deleteSale(sale.invoice.invoiceNo)" *ngIf="specialAccess">Delete Sale</a>
                </div>
            </div>         
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  </div>
</div>

<div id="toPrint">
<table id="tableRecordToPrint" class="d-none">
    <thead style="border-bottom: 1px solid black;">
          <th>S/N <i class="ion text-muted ml-2"></i></th>
          <th>Date <i class="ion text-muted ml-2"></i></th>
          <!-- <th>Items <i class="ion text-muted ml-2"></i></th> -->
          <th>Customer <i class="ion text-muted ml-2"></i></th>
          <th>Amount <i class="ion text-muted ml-2"></i></th>
          <th>Invoice No. <i class="ion text-muted ml-2"></i></th>
     </thead>
    <tbody>
      <!--paginate-->
      <!---paginate: config;-->
      <tr *ngFor="let sale of sales; index as i"  style="border-bottom: 1px dotted black;">
        <td>{{i+1}}</td>
        <td>{{ sale.dateCreated.split('T')[0] }}</td>
        <!-- <td>
          <span *ngFor="let item of sale.cart.items" class="d-block"> {{item.quantity}} X {{item.name}}</span><br>
        </td> -->
        <td>{{getCustomerName(sale.customerID)}}</td>
        <td><span>&#8358;</span>{{sale.cart.amount}}.00</td>
        <td>{{sale.invoice.invoiceNo}}</td>
      </tr>
    </tbody>
</table>

<!--paginate-->
<!-- <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
<!-- <div class="course">

  <div class="spinner-container" *ngIf="dataSource.loading$ | async">
      <mat-spinner></mat-spinner>
  </div>

  <mat-table class="lessons-table mat-elevation-z8" [dataSource]="dataSource">
      ....
  </mat-table>

  <mat-paginator [length]="course?.lessonsCount" [pageSize]="3"
                 [pageSizeOptions]="[3, 5, 10]"></mat-paginator>

</div>-->

</div> -->