.products-table{
    background-color: white;
    text-align: center;
    padding:30px;
}
.button-group{
    display: flex;
    justify-content: flex-end;
}
.product-card{
    background-color:white;
    color:black;
    text-align: center;
    font-weight:bold;
    border-radius:5px;
    box-shadow:2px 2px 2px #555;
    padding:5px;
    margin:5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
