<app-loader *ngIf="loadingEmployees"></app-loader>

<div *ngIf="!loadingEmployees">
<div class="pt-4 d-block mb-4">
    <button mat-raised-button class="add-button" (click)="open(topModal, { windowClass: 'modal-top' })">Add A New Employee</button>
</div>

<div class="container-fluid mt-4">
    <div class="row">
      <div class="col-md-3 mb-2" *ngFor="let employee of employees" (click)="showEmployee(employee.id)">
        <div class="contact shadow cursor-pointer">
          <h4><span class="name-initial">{{employee.firstName.split('')[0] | uppercase}}{{employee.lastName.split('')[0] | uppercase}}</span></h4><br>
          <h4 class="mb-0 mt-0">{{employee.firstName}} {{employee.lastName}}</h4>
          <p class="mb-0 mt-0">{{employee.phone}}</p>
        </div>
      </div>
    </div>
</div>

<!---->
<ng-template #topModal let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h5 class="modal-title">
        New Employee
      </h5>
    </div>
      <div class="modal-body" >
        <div  class="card mb-4 save-customer-card">
            <form [formGroup]="addEmployeeForm">
                <div class="form-group">
                    <label class="form-label"> Firstname:</label>
                    <input type="text" class="form-control" placeholder="Name" formControlName="firstName">
                    <small class="text-danger">Firstname is required</small>
                </div> 
                <div class="form-group">
                    <label class="form-label"> Lastname:</label>
                    <input type="text" class="form-control" placeholder="Name" formControlName="lastName">
                    <small class="text-danger">Lastname is required</small>
                </div> 
                <div class="form-group">
                    <label class="form-label"> Middlename:</label>
                    <input type="text" class="form-control" placeholder="Name" formControlName="middleName">
                </div> 
                <div class="form-group">
                    <label class="form-label"> Phone Number:</label>
                    <input type="text" class="form-control" placeholder="+234XXXXXXXX" formControlName="phone">
                </div>  
                <div class="form-group">
                    <label class="form-label"> Second Phone Number:</label>
                    <input type="text" class="form-control" placeholder="+234XXXXXXXX" formControlName="secondPhone">
                </div>  
                <div class="form-group">
                    <label class="form-label"> Email:</label>
                    <input type="text" class="form-control" placeholder="example@gmail.com" formControlName="email">
                </div> 
                <div class="form-group">
                    <label class="form-label"> Address:</label>
                    <textarea  class="form-control" placeholder="123 main str, Isolo" formControlName="address"></textarea>
                </div> 
                <div class="form-group">
                    <label class="form-label"> Highest Education Level:</label>
                    <ng-select
                        [items]="qualifications"
                        bindLabel="name" 
                        bindValue="name"  
                        formControlName="hel"                 
                    >
                    </ng-select>
                </div> 
                <div class="form-group">
                    <label class="form-label"> Gender:</label>
                    <ng-select
                        [items]="genders"
                        bindValue="name"
                        bindLabel="name"
                        formControlName="gender"
                    >
                    </ng-select>
                </div> 
                <div class="form-group">
                    <label class="form-label"> Date of Birth:</label>
                    <input type="date" class="form-control" formControlName="dateofBirth">
                </div> 
                <!--New fields-->
                <div class="form-group">
                    <label class="form-label"> Date Employed:</label>
                    <input type="date" class="form-control" formControlName="dateEmployed">
                </div> 
                <div class="form-group">
                    <label class="form-label"> Mother's Maiden Name:</label>
                    <input type="text" class="form-control" formControlName="maidenName">
                </div> 
                <div class="form-group">
                    <label class="form-label"> Staff ID:</label>
                    <input type="text" class="form-control" formControlName="staffID">
                </div> 
                <div class="form-group">
                    <label class="form-label"> Marital Status:</label>
                    <input type="text" class="form-control" formControlName="maritalStatus">
                </div> 
                <div class="form-group">
                    <label class="form-label"> Year of Marriage:</label>
                    <input type="text" class="form-control" formControlName="yearofMarriage">
                </div> 
                <div class="form-group">
                    <label class="form-label"> Designation:</label>
                    <input type="text" class="form-control" formControlName="designation">
                </div> 
                <div class="form-group">
                    <label class="form-label"> Next of Kin:</label>
                    <input type="text" class="form-control" formControlName="nextofKin">
                </div> 
                <div class="form-group">
                    <label class="form-label"> Next of Kin Address:</label>
                    <input type="text" class="form-control" formControlName="nextofKinAddress">
                </div> 
                <div class="form-group">
                    <label class="form-label"> Next of Kin Phone:</label>
                    <input type="text" class="form-control" formControlName="nextofKinPhone">
                </div> 
                <div class="form-group">
                    <label class="form-label"> Relationship to next of kin:</label>
                    <input type="text" class="form-control" formControlName="relationshipToNextofKin">
                </div> 
                <div class="form-group">
                    <label class="form-label"> NIN:</label>
                    <input type="text" class="form-control" formControlName="nin">
                </div> 
                <div class="form-group">
                    <label class="form-label"> Pension:</label>
                    <input type="text" class="form-control" formControlName="pension">
                </div> 

            </form>
        </div>
    
       <div class="modal-footer">
         <button class="btn btn-primary" (click)="saveEmployee()">
            <span class="spinner-grow spinner-grow-sm" *ngIf="savingEmployee"></span> 
             Save
         </button>
       </div>
      </div>    
</ng-template>
</div>