<app-loader *ngIf="loading"></app-loader>
<div *ngIf="!loading">
    <div>
        <div class="text-center mt-4 header-details">
            <h3><b>TUNNEX LABORATORIES ENGINEERING LTD</b></h3>
            <p>41, Davies Street, Ajelogo Bus Stop, Alapere, Ketu, Lagos State</p>
            <p>+2348104403054, +2348145119334, +2348033060580</p>
            <p>www.tunnexlab.com.ng, Sales@tunnexlab.com.ng</p>
            <h5><b>Purchase Order</b></h5>
        </div>
        <hr>
        <div class="details-table">
            <table>
                <tr>
                    <td>Invoice No.</td>
                    <td><b>#{{invoice.invoiceNo}}</b></td>
                </tr>
                <tr>
                    <td>Date</td>
                    <td><b>{{invoice.dateCreated.split('T')[0]}}</b></td>
                </tr>
                <tr>
                    <td>Supplier</td>
                    <td *ngIf="!fetchingCustomers"><b>{{getCustomerName(invoice.supplierID)}}</b></td>
                </tr>
            </table>
        </div>
        <hr>
        <div>
            <table style="width:70%; text-align:center; border-collapse: collapse;">
                <tr>
                    <th>S/N</th>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Amount</th>
                </tr>
                <tr *ngFor="let item of invoice.cart.items; index as i">
                    <td>{{i+1}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.quantity}}</td>
                    <td>{{item.amount}}</td>
                </tr>
            </table>
       
        </div>
        <div class="mt-4">
            <button class="btn btn-primary pull-right mr-2" (click)="print()">Print</button>
            <button class="btn btn-success pull-right mr-2" [routerLink]="['/main/purchase-report']">Back</button>
        </div>
    </div>
</div>

<div id="toPrint" class="d-none" style="background-color: white; display:none;" *ngIf="!loading">
    <h4>PURCHASE ORDER</h4>
    <table>
        <tr>
            <td>Invoice No.</td>
            <td><b>#{{invoice.invoiceNo}}</b></td>
        </tr>
        <tr>
            <td>Date</td>
            <td><b>{{invoice.dateCreated.split('T')[0]}}</b></td>
        </tr>
        <tr>
            <td>Supplier</td>
            <td *ngIf="!fetchingCustomers"><b>{{getCustomerName(invoice.supplierID)}}</b></td>
        </tr>
    </table>
    <div style="text-align:center; font-family: 'Times New Roman', Times, serif">
      <table style="width:100%; text-align:center; border-collapse: collapse;">
        <thead style="border-bottom:1px solid black">
          <td>
            <b>S/N</b>
          </td>
          <td>
            <b>Qty</b>
          </td>
          <td>
            <b>Item</b>
          </td>
          <td>
            <b>Price</b>
          </td>
        </thead>
        <tr *ngFor="let order of invoice.cart.items; index as i" style="border-bottom:1px dotted black">
          <td>
              {{i+1}}
            </td>
          <td>
            {{order.quantity}}
          </td>
          <td>
            {{order.name}}
          </td>
          <td>
            ₦{{order.amount}}.00
          </td>          
        </tr>
      </table>
    </div>
  </div>
