<div>
    <table>
      <thead>
        <tr>
          <td class="mr-2"><h4> Total Amount </h4></td>
          <td> <h4>Total Amount Paid</h4></td>
          <td><h4> Total Amount Owed </h4></td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="mr-2"><h2 class="text-warning">₦{{totalAmount|number}}</h2></td>
          <td ><h2 class="text-success">₦{{totalPaid|number}}</h2></td>
          <td><h2 class="text-danger">₦{{totalBalance|number}}</h2></td>
        </tr>
      </tbody>
    </table>
</div>