<app-loader *ngIf="loading"></app-loader>
<div *ngIf="!loading">
    <div>
        <div class="text-center mt-4 header-details">
            <h3><b>TUNNEX LABORATORIES ENGINEERING LTD</b></h3>
            <p>41, Davies Street, Ajelogo Bus Stop, Alapere, Ketu, Lagos State</p>
            <p>+2348104403054, +2348145119334, +2348033060580</p>
            <p>www.tunnexlab.com.ng, Sales@tunnexlab.com.ng</p>
            <h5><b>Invoice</b></h5>
        </div>
        <hr>
        <div class="details-table">
            <table>
                <tr>
                    <td>Invoice No.</td>
                    <td><b>#{{invoice.invoiceNo}}</b></td>
                </tr>
                <tr>
                    <td>Date</td>
                    <td><b>{{invoice.dateCreated.split('T')[0]}}</b></td>
                </tr>
                <tr>
                    <td>Customer</td>
                    <td *ngIf="!fetchingCustomers"><b>{{getCustomerName(invoice.customerID)}}</b></td>
                </tr>
                <tr>
                    <td>Payment Status</td>
                    <td *ngIf="invoice.isPaid"><b><span class="paid">Paid</span></b></td>
                    <td *ngIf="!invoice.isPaid"><b><span class="unpaid">Unpaid</span></b></td>
                </tr>
            </table>
            <table>
                <tr>
                  <td>Delivery fee</td>
                  <td><b>₦{{invoice.deliveryFee | number}}</b></td>
                </tr>
                <tr>
                  <td>Discount(%)</td>
                  <td><b>{{invoice.discountPercent}}</b></td>
                </tr>
                <tr>
                    <td>Amount.</td>
                    <td><b>₦{{invoice.amount | number}}</b></td>
                </tr>
                <tr>
                    <td>Amount Paid</td>
                    <td><b>₦{{invoice.amountPaid | number}}</b></td>
                </tr>
                <tr>
                    <td>Balance</td>
                    <td><b>₦{{invoice.balance | number}}</b></td>
                </tr>
            </table>
        </div>
        <hr>
        <div>
            <table style="width:70%; text-align:center; border-collapse: collapse; border-bottom: 1px dotted black;">
                <tr>
                    <th>S/N</th>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Unit Price</th>
                    <th>Amount</th>
                </tr>
                <tr *ngFor="let item of invoice.cart.items; index as i">
                    <td>{{i+1}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.quantity}}</td>
                    <td>{{(item.amount / item.quantity) | number}}</td>
                    <td>{{item.amount | number}}</td>
                </tr>
            </table>
            <!--returned stock below-->
            <div *ngIf="!loadingSalesObj">
              <div *ngIf="salesObj.returnedStock && salesObj.returnedStock.cart.items.length>0">
                <p>RETURNED STOCK <b>{{salesObj.returnedStock.dateCreated.split('T')[0]}}</b></p>
                <table style="width:70%; text-align:center; border-collapse: collapse; border-bottom: 1px dotted black;">
                  <tr>
                      <th>S/N</th>
                      <th>Product</th>
                      <th>Quantity</th>
                      <th>Amount</th>
                  </tr>
                  <tr *ngFor="let item of salesObj.returnedStock.cart.items; index as i">
                      <td>{{i+1}}</td>
                      <td>{{item.name}}</td>
                      <td>{{item.quantity}}</td>
                      <td>{{item.amount | number}}</td>
                  </tr>
                </table>
              </div>
            </div>
            <!--payment-->
            <div *ngIf="!loadingSalesObj">
                <p>PAYMENT</p>
                <table style="width:70%; text-align:center; border-collapse: collapse; border-bottom: 1px dotted black;">
                  <tr>
                      <th>S/N</th>
                      <th>Amount</th>
                      <th>Method</th>
                      <th>Reference</th>
                      <th>Date</th>
                  </tr>
                  <tr *ngFor="let item of salesObj.payment; index as i">
                      <td>{{i+1}}</td>
                      <td>{{item.amount | number}}</td>
                      <td>{{item.method}}</td>
                      <td>{{item.reference}}</td>
                      <td>{{item.datePaid.split('T')[0]}}</td>
                  </tr>
                </table>
            </div>
            <!-- TABLE FOR CART WILL BE HERE!!!<br>
                        TABLE FOR CART WILL BE HERE!!! -->
        <p>You were served by <b>{{ getUserName(invoice.userCreated)}}</b></p>
        </div>
        <div class="mt-4">
            <button class="btn btn-primary pull-right mr-2" (click)="print()">Print</button>
            <button class="btn btn-primary pull-right mr-2" (click)="open(payment)" [disabled]="invoice.balance<1">Add Payment</button>
            <button class="btn btn-success pull-right mr-2" [routerLink]="['/main/special']">Back</button>
        </div>
    </div>
</div>

<ng-template #payment>
    <div class="p-4">
        <div>
            <h5>Add Payment for #{{invoice.invoiceNo}}</h5>
        </div>
        <div class="form-group">
            <label class="form-label">Amount</label>
            <input class="form-control" type="number" [(ngModel)]="amount" min="0" [max]="invoice.balance">
        </div>
        <div class="form-group">
          <label class="form-label">Method</label>
          <ng-select
            [items]="methods"
            bindLabel="name"
            bindValue="name"
            [(ngModel)]="paymentMode"
          >
          </ng-select>
        </div>
        <div class="form-group">
          <label class="form-label">Additional Information</label>
          <input class="form-control" type="text" [(ngModel)]="reference">
        </div>
        <div>
            <button class="btn btn-primary pull-right" (click)="pay()">
                <span class="spinner-grow spinner-grow-sm" *ngIf="paying"></span>                 
                Pay
            </button>
        </div>
    </div>
</ng-template>


<div id="toPrint" class="d-none" style="background-color: white; display:none;" *ngIf="!loading && !loadingSalesObj">
    <h4>INVOICE</h4>
    <table>
        <tr>
            <td>Invoice No.</td>
            <td><b>#{{invoice.invoiceNo}}</b></td>
        </tr>
        <tr>
            <td>Date</td>
            <td><b>{{invoice.dateCreated.split('T')[0]}}</b></td>
        </tr>
        <tr>
            <td>Customer</td>
            <td *ngIf="!fetchingCustomers"><b>{{getCustomerName(invoice.customerID)}}</b></td>
        </tr>
    </table>
    <div style="text-align:center; font-family: 'Times New Roman', Times, serif">
      <table style="width:100%; text-align:center; border-collapse: collapse;">
        <thead style="border-bottom:1px solid black">
          <td>
            <b>S/N</b>
          </td>
          <td>
            <b>Qty</b>
          </td>
          <td>
            <b>Item</b>
          </td>
          <td>
            <b>Unit Price</b>
          </td>
          <td>
            <b>Price</b>
          </td>
        </thead>
        <tr *ngFor="let order of invoice.cart.items; index as i" style="border-bottom:1px dotted black">
          <td>
              {{i+1}}
            </td>
          <td>
            {{order.quantity}}
          </td>
          <td>
            {{order.name}}
          </td>
          <td>
            ₦{{(order.amount / order.quantity) | number}}
          </td>
          <td>
            ₦{{order.amount | number}}
          </td>          
        </tr>
        <tr style="border-bottom:1px dotted black">
            <td>
                
            </td>
            <td>
              
            </td>
            <td>
              
            </td>
            <td>
              Total Amount
            </td>
            <td>
              ₦{{invoice.amount | number}}
            </td>          
          </tr>
          <tr style="border-bottom:1px dotted black">
            <td>
                
            </td>
            <td>
              
            </td>
            <td>
              
            </td>
            <td>
              Amount Paid
            </td>
            <td>
              ₦{{invoice.amountPaid | number}}
            </td>          
          </tr>
          <tr style="border-bottom:1px dotted black" *ngFor="let pay of salesObj.payment">
            <td>
                
            </td>
            <td>
              
            </td>
            <td>
              
            </td>
            <td>
              {{pay.method}} ({{pay.datePaid.split('T')[0]}})
            </td>
            <td>
              ₦{{pay.amount | number}}
            </td>          
          </tr>
          <tr style="border-bottom:1px dotted black">
            <td>
                
            </td>
            <td>
              
            </td>
            <td>
              
            </td>
            <td>
              Balance
            </td>
            <td>
              ₦{{invoice.balance | number}}
            </td>          
          </tr>
      </table>
    </div>
    <p>You were served by <b>{{ getUserName(invoice.userCreated)}}</b></p>
    <p>Thanks for your patronage</p>
  </div>
