<div class="pos-body"> 
    <div class="row">
        <div class="col-md-6">
            
            <div class="orderScreen">
                <table class="table table-striped">
                  <thead style="border-bottom: 2px solid black; border-top: 2px solid black">
                    <td>
                      <b>Qty</b>
                    </td>
                    <td>
                      <b>Item</b>
                    </td>
                    <td>
                      <b>Price</b>
                    </td>
                    <td></td>
                  </thead>
                  <tr *ngFor="let order of orders; index as i">
                    <td>
                      <input type="number" style="width:50px" (input)="setQuantity(quantity.value,i)" #quantity [(ngModel)]="order.quantity" min="1">
                    </td>
                    <td>
                      {{order.name}}
                    </td>
                    <td>
                      ₦{{order.salePrice * order.quantity | number}}
                    </td>
                    <td>
                      <i class="fa fa-trash" (click)="removeItem(i)"></i>
                    </td>
                  </tr>
                </table>
                <div class="orderScreen" *ngIf="orders.length==0" style="opacity:0.3; text-align: center">
                    <h1><i class="fa fa-shopping-cart"></i></h1>
                    <h3>Your shopping cart is empty!!!</h3>
                </div>
                <div style="position:absolute; top:220px; right:40px" class="total-display"><b>Total: ₦{{total | number}}</b></div>
            </div>

          <div class="calculator" style="width:90%; margin-left:auto; margin-right:auto">    
            <div>              
              <div class="pr-4 pl-4 pb-2 pt-1">
  <div class="row">
    <div class="col-6">
                <div class="form-group">
                  <label class="form-label text-danger" *ngIf="!selectedCustomer">Select a customer!</label>
                  <ng-select
                    [items]="customers"
                    bindLabel="fullName"
                    [(ngModel)]="selectedCustomer"
                  >                    
                  </ng-select>
                </div>
                <div class="form-group">
                  <label class="form-label text-danger">Enter Amount</label>
                  <input type="number" class="form-control" 
                  [(ngModel)]="currentAmount" 
                  (change)="addPayment()"
                  [disabled]="!selectedCustomer"
                  >
                </div>
      </div>
    <div class="col-6">
                <div class="form-group">
                  <label class="form-label text-danger">Payment Method</label>
                  <ng-select
                    [items]="paymentMethodArray"
                    bindValue="name"
                    bindLabel="name"
                    (change)="paymentMethod($event)"  
                  >
                  </ng-select>
                </div>
                <div class="row btn-stuff mt-3">
                  <div class="ol-4 mr-">
                      <button class="btn btn-danger" (click)="resetSales()">
                        <small><i class="fa fa-refresh"></i> Reset</small>
                      </button>
                  </div>
                  <button class="btn btn-warning" (click)="print()" [disabled]="!invoiceNo"><small><i class="fa fa-print"></i> Receipt</small></button>
                </div>
                <div class="row btn-stuff mt-3">
                  <div>
                    <!-- <button class="btn btn-info" [disabled]="!selectedCustomer" (click)="paymentMethod('cheque')">
                      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="savingSaleCheque"></span>
                      <small><i class="fa fa-credit-card"></i> Cheque</small>
                    </button> -->
                    <button class="btn btn-danger mr-1" (click)="open(freeSaleModal)" [disabled]="!selectedCustomer">Sample</button>
                  </div>
                  <div>
                    <button class="btn btn-success complete-btn" (click)="completeSale()" [disabled]="!selectedCustomer || total - (totalCashAmount+totalCreditAmount+totalChequeAmount+totalTransferAmount+totalPosAmount)>0"> 
                      <div class="spinner-border text-light" role="status" *ngIf="savingSaleInvoice">
                        <span class="sr-only">Loading...</span>
                      </div>
                      Complete
                    </button>
                  </div>
                </div>
    </div>
  </div>
          
                <!-- <hr> -->

                <div class="order-display-screen mt-2">
                    <table>
                      <!-- <tr>
                        <td>Customer:</td>
                        <td><code>{{selectedCustomer?.firstName}} {{selectedCustomer?.lastName}}</code></td>
                      </tr> -->
                      <tr>
                        <td>Amount Due:</td>
                        <td><code>₦{{(total - (totalCashAmount+totalCreditAmount+totalChequeAmount+totalTransferAmount+totalPosAmount)) | number}}</code></td>
                        <!-- <td>
                          <div class="form-group">
                            <label class="form-label">Discount</label>
                            <input type="number" class="form-control">
                          </div>
                        </td> -->
                      </tr>
                      <tr>
                        <td>Mode:</td>
                        <td><code>{{currentPaymentMode | titlecase}}</code></td>
                        <!-- <td>
                          <div class="form-group">
                            <label class="form-label">LPO</label>
                            <input type="text" class="form-control">
                          </div>
                        </td> -->
                      </tr>
                      <tr>
                        <td>Cash || Cheque:</td>
                        <td><code>₦{{totalCashAmount | number}} || ₦{{totalChequeAmount | number}}</code></td>
                      </tr>
                      <tr>
                        <td>Credit || Transfer:</td>
                        <td><code>₦{{totalCreditAmount | number}} || ₦{{totalTransferAmount | number}}</code></td>
                      </tr>
                    </table>
                </div>

              </div>
            </div>            
            
          </div>
          
        </div>
    
        <div class="col-md-6 order" style="background-color: rgb(225, 230, 230); border-top:2px solid red">
            <input type="search" style="width:100%; height:40px; border-radius:5px; text-align:center; border:none" placeholder="type in keyword to search" class="mt-2 mb-2" #food (input)="searchProducts(food.value)">
            <div  style="height:100vh">
                <!-- <div class="loader" *ngIf="loadProducts"></div> -->
                <app-loader *ngIf="loadProducts"></app-loader>
                <div class="row">
                  <div class="col-sm-4" *ngFor="let product of products">
                      <div class="food cursor-pointer mt-3" style="height:100px; background-color:white; box-shadow:1px 3px 3px rgb(189, 189, 192); float:left; background-image: url({{product.image}});" (click)="addToCart(product)">
                          <div class="mb-2 mr-2 mt-1 product-div">
                            <p class="name d-none">{{product.name}}</p>
                            <p class="price">₦{{product.salePrice | number}}</p>
                          </div>
                      </div>
                      <p class="name-2">{{product.name}}</p>
                  </div>                                 
                </div>
            </div>
        </div>
          <!-- <div style="background-color: black; height:60px;">
            <button class="btn btn-danger free-sale-btn" (click)="open(freeSaleModal)" [disabled]="!selectedCustomer">Free Sale</button>
            <button class="btn btn-primary proforma-btn" (click)="generateProformaInvoice()">Proforma Invoice</button>
          </div>
          <div class="d-flex discount-lpo px-1" 
                style="background-color:black; color:white; border-radius:5px">
            <div class="form-group mr-1">
              <label class="form-label">Discount(%)</label>
              <input class="form-control" type="number">
            </div>
            <div>
              <div class="form-group">
                <label class="form-label">LPO</label>
                <input class="form-control" type="text">
              </div>
            </div>
          </div> -->
          <div class="d-flex"
            style="position: absolute; right:0; bottom: 0; background-color: black; border-radius: 5px; padding:5px; color:white; z-index: 2;">
            <div class="form-group mr-1">
              <label class="form-label">Reference</label>
              <input class="form-control" type="text" [(ngModel)]="paymentReference">
            </div>
            <div class="form-group mr-1">
              <label class="form-label">Delivery</label>
              <input class="form-control" type="checkbox" [(ngModel)]="deliveryStatus" (change)="calculateTotal()">
            </div>
            <div class="form-group mr-1">
              <label class="form-label">Delivery Fee</label>
              <input class="form-control" type="number" [(ngModel)]="deliveryFee" style="width:70px" (change)="calculateTotal()" [disabled]="!deliveryStatus">
            </div>
            <!-- <button class="btn btn-primary free-inv-btn mr-1" (click)="paymentMethod('transfer')" [disabled]="!selectedCustomer">
              <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="savingSale"></span>
              <small><i class="fa fa-money"></i> Transfer</small>
            </button> -->
            <div class="form-group mr-1">
              <label class="form-label">Discount(%)</label>
              <input class="form-control" type="number" [(ngModel)]="discount" style="width:70px" (change)="calculateTotal()">
            </div>
            <div class="form-group mr-1">
              <label class="form-label">LPO</label>
              <input class="form-control" type="text" [(ngModel)]="lpo" style="width:70px">
            </div>
            <!-- <button class="btn btn-danger btn-sm mr-1 free-inv-btn" (click)="open(freeSaleModal)" [disabled]="!selectedCustomer">Free Sale</button> -->
            <button class="btn btn-primary free-inv-btn" (click)="generateProformaInvoice()" [disabled]="!selectedCustomer">Invoice</button>
          </div>

        <ng-template #freeSaleModal>
          <div class="free-sale-modal">
            <h3><i class="fa fa-exclamation-triangle"></i></h3>
            <p>Are you sure you want to make this a free sale?</p>
            <div>
              <button class="btn btn-primary" (click)="yesToFreeSale()">Yes</button>
              <button class="btn btn-danger" (click)="noToFreeSale()">No</button>
            </div>
          </div>
        </ng-template>
      </div>
    
      <div id="bill" class="d-none">
        <table class="table table-striped">
          <thead>
            <td>
              <b>Qty</b>
            </td>
            <td>
              <b>Item</b>
            </td>
            <td>
              <b>Price</b>
            </td>
          </thead>
          <tr *ngFor="let order of orders; index as i">
            <td>
              {{order.quantity}}
            </td>
            <td>
              {{order.name}}
            </td>
            <td>
              ₦{{order.sellPrice}}
            </td>
          </tr>
        </table>
        <div style="position:absolute; top:200px; right:30px"><b>Total:₦{{total}}</b></div>
        <!-- <code>You were served by: <b>{{cashierName}}</b></code> -->
    </div> 
</div>


<div id="toPrint" class="d-none" style="background-color: white; display:none;">
  <h4>RECEIPT</h4>
  <table>
    <tr>
      <td>Invoice No:</td>
      <td><b>#00000{{invoiceNo}}</b></td>
    </tr>
  </table>
  <div style="text-align:center; font-family: 'Times New Roman', Times, serif">
    <table style="width:100%; text-align:center; border-collapse: collapse;">
      <thead style="border-bottom:1px solid black">
        <td></td>
        <td></td>
        <td></td>
        <td>
          <b>Qty</b>
        </td>
        <td>
          <b>Item</b>
        </td>
        <td>
          <b>Price</b>
        </td>
        <td></td>
      </thead>
      <tr *ngFor="let order of orders; index as i" style="border-bottom:1px dotted black">
        <td></td>
        <td></td>
        <td></td>
        <td>
          {{order.quantity}}
        </td>
        <td>
          {{order.name}}
        </td>
        <td>
          ₦{{order.salePrice * order.quantity | number}}
        </td>
        
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><b>Cash</b></td>
        <td><b>₦{{totalCashAmount | number}}</b></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><b>Credit</b></td>
        <td><b>₦{{totalCreditAmount | number}}</b></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><b>Cheque</b></td>
        <td><b>₦{{totalChequeAmount | number}}</b></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><b>Transfer</b></td>
        <td><b>₦{{totalTransferAmount | number}}</b></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><b>Delivery Fee</b></td>
        <td><b>₦{{deliveryFee | number}}</b></td>
      </tr>
      <tr  style="border-top:1px dotted black; border-bottom: 1px dotted black;">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><b>Customer</b></td>
        <td><b>{{selectedCustomer?.firstName}} {{selectedCustomer?.lastName}}</b></td>
      </tr>
      <tr style="border-top:1px dotted black; border-bottom: 1px dotted black;">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><b>Total</b></td>
        <td><b>₦{{total | number}}</b></td>
      </tr>
    </table>
  </div>
  <p class="text-align:left">You were served by: <b>{{currentUser.name}}</b></p>
</div>