<app-loader *ngIf="loading"></app-loader>
<div class="body">
<div class="d-block mt-2">
    <h3 class="text-center text-muted">PRODUCTS</h3>
</div>
<div class="d-block">
    <button class="btn btn-primary pull-right d-block mr-1" (click)="open(bulkModal)"><i class="fa fa-upload"></i> Bulk Upload</button>
    <button class="btn btn-success pull-right d-block mr-2" (click)="open(addProductModal)">Add Product</button>
</div>
<br>
<div class="mb-2">
    <input type="search" 
    class="form-control"
    [(ngModel)]="searchKey"
    (input)="filterProduct()"
    placeholder="filter by name"
    style="width:250px; margin-left:40px;"
    >
</div>
<div class="container">
    <div class="row m-auto">
        <div class="col-sm-3" *ngFor="let product of displayedProducts" (click)="viewProduct(product.id)">
            <div class="mb-2 mr-2 mt-1 inner-card product-card" style="background-image: url({{product.image}});">
                <small class="low-text" *ngIf="product.quantity<20">Low</small>
                <p class="name d-none">{{product.name}}</p>
                <!-- <p class="price">₦{{product.salePrice.toFixed(2)}}</p> -->
            </div>
            <p class="name-2">{{product.name}}</p>
            <p class="text-center"><b>{{product.dateModified.split('T')[0]}} / {{product.dateModified.split('T')[1].split('.')[0]}}</b></p>
            <p class="text-center" style="margin-top: -20px;">Last updated by <b>{{getUserFullName(product.userModified)}}</b></p>
        </div>
    </div>
</div>

<ng-template #bulkModal>
    <div class="bulk-modal">
        <img src="../../../../assets/img/excel_img.PNG" height="250px" width="350px">
        <p><b>Please upload an excel file in the exact format as shown in the picture above</b></p>
        <div class="form-group">
            <label class="form-label">Select an excel file</label>
            <input type="file" (change)="onFileChange($event)" multiple="false" class="form-control"/><br>
        </div>
        <div class="uploading-spinner">
            <span class="spinner-grow spinner-grow-sm text-center" *ngIf="uploading"></span>  
        </div>
    </div>

</ng-template>

<ng-template #addProductModal>
    <div class="card p-2">
        <div class="card-header">
            <h5>Add Product</h5>
        </div>
        <div class="card-body">
            <form [formGroup]="addProductForm">
                <div class="text-center" *ngIf="submitted && addProductForm.invalid">
                    <small class="text-danger">Please fill all required fields</small>
                </div>
                <div class="form-group">
                    <label class="form-label">Product Name</label>
                    <input type="text" class="form-control" formControlName="name">
                </div>
                <div class="form-group">
                    <label class="form-label">Quantity</label>
                    <input type="number" class="form-control" formControlName="quantity">
                </div>
                <div class="form-row d-flex" style="justify-content: space-between">
                    <div class="form-group">
                        <label class="form-label">Cost Price</label>
                        <!-- <input type="number" class="form-control" [(ngModel)]="CostPrice" [ngModelOptions]="{standalone:true}"> -->
                        <input type="number" class="form-control" formControlName="costPrice">
                    </div>            
                    <div class="form-group">
                        <label class="form-label">Sell Price</label>
                        <!-- <input type="number" class="form-control" [(ngModel)]="SalePrice" [ngModelOptions]="{standalone:true}"> -->
                        <input type="number" class="form-control" formControlName="salePrice">
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label">Description</label>
                    <input type="text" class="form-control" formControlName="description">
                </div>
                <div class="form-group">
                    <label class="form-label">Location</label>
                    <input type="text" class="form-control" formControlName="location">
                </div>
                <div class="form-group">
                    <label class="form-label">Image</label>
                    <input type="file" class="form-control" (change)="selectImage($event)">
                </div>
            </form>
        </div>        
        <div class="card-footer">
            <button class="btn btn-primary pull-right" (click)="uploadPicture()">
                <span class="spinner-grow spinner-grow-sm" *ngIf="saving"></span> 
                Save
            </button>
        </div>
    </div>
</ng-template>
</div>











<!-- <div class="text-center text-muted mt-2"><h3>INVENTORY</h3></div>
  
  <div> 
   
    <div class="row mb-1">
        <div class="col-sm-6 col-md-6 d-inline-flex">
            <input type="text"
            [(ngModel)]="filterVal"
            (input)="searchTable()"
            class="form-control w-auto"
            placeholder="Search...">
        </div>
        <div class="col-lg-6 col-sm-6 col-md-6 ">
          <a target="_blank" class="btn btn-primary mr-1 pull-right" style="color:white">
              <i class="ion ion-md-print"></i>&nbsp; Print
          </a>
        </div>
      </div>
  <div class="table-responsive mt-2">
      <img *ngIf="loading" src="assets/img/loader.gif" style="width:30%;margin-left:30%;">
    <table  *ngIf="!loading" class="table table-striped card-table" id="tableRecord">
      <thead>
            <th>Product <i class="ion text-muted ml-2"></i></th>
            <th>Quantity <i class="ion text-muted ml-2"></i></th>
            <th>Sell price <i class="ion text-muted ml-2"></i></th>
            <th>Status</th>
       </thead>
      <tbody>
        <tr *ngFor="let item of products" >
          <td>{{ item.productName }}</td>
          <td>{{item.stockCount}}</td>
          <td><span>&#8358;</span>{{item.sellPrice}}</td>
          <td class="align-middle">
            <span *ngIf="item.stockCount>0" class="badge badge-outline-success in-stock">In Stock</span>
            <span *ngIf="item.stockCount===0" class="badge badge-outline-danger out-stock">Out of Stock</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  </div>
   -->