<app-loader *ngIf="loading"></app-loader>
<div *ngIf="!loading">
    <div>
        <div class="text-center mt-4 header-details">
            <h3><b>TUNNEX LABORATORIES ENGINEERING LTD</b></h3>
            <p>41, Davies Street, Ajelogo Bus Stop, Alapere, Ketu, Lagos State</p>
            <p>+2348104403054, +2348145119334, +2348033060580</p>
            <p>www.tunnexlab.com.ng, Sales@tunnexlab.com.ng</p>
            <h5><b>Proforma Invoice</b></h5>
        </div>
        <hr>
        <div class="details-table">
            <table>
                <tr>
                    <td>Invoice No.</td>
                    <td><b>#{{invoice.invoiceNo}}</b></td>
                </tr>
                <tr>
                    <td>Date</td>
                    <td><b>{{invoice.dateCreated.split('T')[0]}}</b></td>
                </tr>
                <tr>
                    <td>Customer</td>
                    <td *ngIf="!fetchingCustomers"><b>{{getCustomerName(invoice.customerID)}}</b></td>
                </tr>
            </table>
        </div>
        <hr>
        <div>
            <table style="width:70%; text-align:center; border-collapse: collapse;">
                <tr>
                    <th>S/N</th>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Amount</th>
                    <th>Unit Price</th>
                </tr>
                <tr *ngFor="let item of invoice.cart.items; index as i">
                    <td>{{i+1}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.quantity}}</td>
                    <td>₦{{item.amount}}</td>
                    <td>₦{{item.amount/item.quantity}}</td>
                </tr>
            </table>
            <!-- TABLE FOR CART WILL BE HERE!!!<br>
                        TABLE FOR CART WILL BE HERE!!! -->
        </div>
        <div>
          <p>Served by <b *ngIf="users.length>0">{{getUserName(invoice.userCreated)}}</b></p>
        </div>
        <div class="mt-4">
            <button class="btn btn-primary pull-right mr-2" (click)="print()">Print</button>
            <button class="btn btn-success pull-right mr-2" [routerLink]="['/main/proforma-invoice']">Back</button>
        </div>
    </div>
</div>

<ng-template #payment>
    <div class="p-4">
        <div>
            <h5>Add Payment for #{{invoice.invoiceNo}}</h5>
        </div>
        <div class="form-group">
            <label class="form-label">Amount</label>
            <input class="form-control" type="number" [(ngModel)]="amount" min="0" [max]="invoice.balance">
        </div>
        <div>
            <button class="btn btn-primary pull-right" (click)="pay()">
                <span class="spinner-grow spinner-grow-sm" *ngIf="paying"></span>                 
                Pay
            </button>
        </div>
    </div>
</ng-template>


<div id="toPrint" class="d-none" style="background-color: white; display:none;" *ngIf="!loading">
  <h4>PROFORMA INVOICE</h4>
    <table>
        <tr>
            <td>Invoice No.</td>
            <td><b>#{{invoice.invoiceNo}}</b></td>
        </tr>
        <tr>
            <td>Date</td>
            <td><b>{{invoice.dateCreated.split('T')[0]}}</b></td>
        </tr>
        <tr>
            <td>Customer</td>
            <td *ngIf="!fetchingCustomers"><b>{{getCustomerName(invoice.customerID)}}</b></td>
        </tr>
    </table>
    <div style="text-align:center; font-family: 'Times New Roman', Times, serif">
      <table style="width:100%; text-align:center; border-collapse: collapse;">
        <thead style="border-bottom:1px solid black">
          <td>
            <b>S/N</b>
          </td>
          <td>
            <b>Qty</b>
          </td>
          <td>
            <b>Item</b>
          </td>
          <td>
            <b>Price</b>
          </td>
          <td>
            <b>Unit Price</b>
          </td>
        </thead>
        <tr *ngFor="let order of invoice.cart.items; index as i" style="border-bottom:1px dotted black">
          <td>
              {{i+1}}
            </td>
          <td>
            {{order.quantity}}
          </td>
          <td>
            {{order.name}}
          </td>
          <td>
            ₦{{order.amount}}.00
          </td>    
          <td>
            ₦{{order.amount/order.quantity}}
          </td>      
        </tr>
      </table>
    </div>
    <div>
      <p>Served by <b *ngIf="users.length>0">{{getUserName(invoice.userCreated)}}</b></p>
    </div>
    <p>Thanks for your patronage</p>
  </div>
